PORT=3001
MONGODB_URI=mongodb://umesh:umesh@192.168.29.225:27017/dropzone?authSource=admin&directConnection=true&replicaSet=rs0
CORS_ORIGIN=*
JWT_SECRET=dropzone-dev-secret-change-in-production
JWT_EXPIRES_IN=30d
NODE_ENV=development
